body{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
:root{
	--while-color: #FFF;
	--text-color: #333;
	--primary-color: rgb(238, 75, 43);
	--primary-color-a: rgba(238, 75, 43,0.05);
	--border-color: #DBDBDB;
	--navbar-height: 34px;
	--header-height: 120px;
	--sort-height: 48px;
	--header-with-search: calc(var(--header-height) - (var(--navbar-height)));
}
*{
	box-sizing: inherit;
}
.html{
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.grid{
	max-width: 100vw;
	width: 100%;
	display: block;
	padding: 0 1rem;
}
.wide {
	width: 100%;
}
/* .row.no-gutters {
    margin-left: 0;
    margin-right: 0;
} */
/* .grid__full-width{
	width: 100%;
} */
/* .grid__row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
} */
/* .grid__column-2{
	padding-left: 5px;
	padding-right: 5px;
	width: 16.6667%;
} */
/* .grid__column-2-4{
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;	
}
.grid__column-10{
	padding-left: 5px;
	padding-right: 5px;
	width: 79.3334%;
		
} */
/*animation*/
@keyframes fadeIn{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes scale{
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
/* .modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
}
.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	
}
.modal__body{
	margin: auto;
	background-color: #FFF;
	position: relative;
	z-index: 1;
	border-radius: 5px;
} */
/*button style*/
.btn{
	min-width: 142px;
	height: 30px;
	border: 0;
	text-decoration: none;
	border-radius: 3px;
	padding: 0;
	outline: none;
	cursor: pointer;
	color: #333;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
}
/* .btn.btn--size-s{
	height: 32px;
	font-size: 1rem;
	
} */
/* .btn.btn-normal:hover{
	background-color: rgba(0, 0, 0, 0.2);
} */
.btn.btn--primary{
	text-transform: capitalize;
	background-color: var(--primary-color);
	color: #FFF;
	transition: all .3s ease-in-out;
}
.btn.btn--primary:hover{
	text-transform: capitalize;
	background-color: black;
	color: #FFF;
}
/* .auth-form__control-back{
	margin-right: 8px;
} */
.app{
	overflow: hidden;
}
.header{
	height: var(--header-height);
	background-image: linear-gradient(0, #fe6433, #f53e2d);
	background-color: var(--primary-color);
	z-index: 10;
}
.nav__navbar{
	display: flex;
	justify-content: space-between;
	height: var(--navbar-height);	
}
.header__navbar-list{
	list-style: none;
	text-transform: capitalize;
	color: var(--while-color);
	padding-left: 0px;	
	display: flex;
}
.header__navbar-item-link{
	text-decoration: none;
	color: var(--while-color);
	display: inline-block;
	font-size: 0.8rem;
	position: relative;
}
.header__navbar-item{
	text-decoration: none;
	color: var(--while-color);
	display: inline-block;
	font-size: 0.8rem;
	margin: 0 1rem 0 0;
	position: relative;
}
.header__navbar-user{
	display: flex;
	position: relative;
}
.header__navbar-user-img{
	height: 22px;
	width: 22px;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: -3px;
}
.header__navbar-user-name{
	margin-left: 4px;
	font-size: 1rem;
}
.header__navbar-user-list{
	list-style: none;
    position: absolute;
    top: 32px;
	right: 5px;
    padding-left: 0;
    z-index: 1;
    box-shadow: 0 5px 5px black;
	display: none;
	transition: all .3s ease-in-out;
}
.header__navbar-user:hover .header__navbar-user-list{
	display: block;
}
.header__navbar-user-list::before{
	content: "";
	border-style: solid;
	border-color: transparent transparent #FFF transparent;
	border-width: 15px 20px 15px 20px; 
	position: absolute;
	top: -30px;
	left: 98px;
}
.header__navbar-user-list::after{
	content: "";
    top: -20px;
    left: 0;
    height: 30px;
    width: 150px;
    background-color: transparent;
    position: absolute;
}
.header__navbar-user-item{
	padding: 5px 4px;
	background-color: #FFF;
	width: 150px;
	font-weight: 400;
	text-align: left;
}
.header__navbar-user-item:hover{
	background-color: #EEE;
}
.header__navbar-user-link{
	text-decoration: none;
	color: #333;
	padding: 0 12px;
	margin: 0px;
	font-size: 0.9rem;
}
.header__navbar-user-log-out	{
	color: #03A9F4;
}
.header__navbar-item-link{
	font-weight: 500;
}
.header__navbar-item-icon{
	margin-right: 6px;
}
/* .header__navbar-item--saparate::after{
	content: "";
	height: 15px;
	width: 1px;
	background-color: #FB9086;
	display: block;
	position: absolute;
	top: 15%;
	right: 0%;
} */
.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header-navbar-icon-link:hover{
	color: rgba(255,255,255,0.7);
	cursor: pointer;
}
.header-navbar-icon-link{
	color: #FFF;
	text-decoration: none;
}
/*QR code*/
.header__qr{
	z-index: 1; 
	width: 200px;
	padding-bottom: 0.5rem;
	background-color: #FFF;
	position: absolute;		
	left: 0;
	top: 30px;
	border-radius: 2px;
	opacity: 0;
	animation: fadeIn ease-in 0.3s;
	display: none;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.header__qr--img{
	width: 100%;
}
.header__qr--apps{
	display: flex;
	justify-content: space-between;
}
.header__qr-link:nth-child(1){
	margin-left: 13px;
}
.header__qr-link:nth-child(2){
	margin-right: 15px;
}
.header__qr--download{
	height: 18px;
}
.header__navbar-item:hover .header__qr{
	opacity: 1;
	display: block;
}
.header__qr::before{
	position: absolute;
    left: 0;
    display: block;
    top: -18px;
    width: 100%;
    height: 30px;
    content: "";
}	
/*header notification*/
.header__notify{
	width: 24.5rem;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 20px;
	background-color: white;
	opacity: 1;
	right: 7px;
	animation: headerNotify 0.3s;
	transform-origin: 90% top;
	margin-top: 10px;
	display: none;
	z-index: 11;
}
.header__notify::before{
	position: absolute;
	content: "";
	border-width: 20px 30px 20px 30px;
	border-style: solid;
	border-color: transparent transparent #FFF transparent;
	top: -30px;
	right: 10px;
}
.header__notify::after{
	content: "";
    position: absolute;
    height: 30px;
    width: 110px;
    display: block;
    background-color: transparent;
    top: -15px;
    right: -12px;
}
@keyframes headerNotify{
	from{
		opacity: 0;
		transform: scale(0);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
}
.header__notify-header{
	text-align: center;
	font-size: 0.8rem;
	color: black;
	font-weight: 400;
	cursor: text;
}
.header__notify-list{
	overflow: scroll;
	height: 70vh;
	padding-left: 0; 
}
.header__notify-item-viewed{
	background-color: var(--primary-color-a);
}
.header__notify-item:hover{
	background-color: #F5F5F5;
}
.header__notify-link{
	display: flex; 
	text-decoration: none;
}
.header__notify-img{
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 1rem;
	image-rendering: pixelated;
}
.header__notify-name{
	display: block;
	font-size: 1rem;
	text-align: justify;
	text-transform: initial;
	margin: 1rem 1rem 0.3rem 0;
    color: #333;	
}
.header__notify-info {
	width: 18rem;
}
.header__notify-description{
	display: block;
	font-size: 0.8rem;
	text-align: justify;
	text-transform: initial;
	color: #756F6E;
}
.header__notify-footer{
	text-align: center;
	margin: 0.8rem;
	font-size: 1rem;
	background-color: #FFF;
}
.header__notify-footer-link{
	text-decoration: none;	
	font-weight: 400;
	color: rgb(72, 19, 218);
}
.header__navbar-item:hover .header__notify{
	display: block;
}
/*authentication modal*/
/* .auth-form{
	width: 500px;
}
.auth-form__container{
	padding: 0 32px;
}
.auth-form__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 12px;
	margin-top: 12px;
}
.auth-form__heading{
	font-size: 1.4rem;
	font-weight: 500;
}
.auth-form__switch-btn{
	font-size: 1rem;
	color: var(--primary-color);
	font-weight: 500;
}
.auth-form__switch-btn:hover{
	cursor: pointer;
}
.auth-form__form{
	margin-top: 16px;	
}
.auth-form__input{
	height: 40px;
	width: 100%;
	margin-bottom: 16px;
	padding: 0 12px;
	font-size: 1.2rem;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	outline: none;
}
.auth-form__input:focus{
	border-color: #666;
}
.auth-form__aside{
	margin-top: 10px;
	margin-bottom: 80px;
}
.ath-form__policy-text{
	font-size: 0.8rem;
	line-height: 1.3rem; 
	text-align: center;
	font-weight: 500;
	padding: 0 12px;
	color: #333;
}
.auth-form__text-link{
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 500;
}
.auth-form__controls{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 32px;
}
.auth-form__socials{
	background-color: #F5F5F5;
	padding: 12px 36px;
	display: flex;
	justify-content: space-between;
} */
/* .social-icon{
	font-size: 1.5rem;
}
.fa-facebook-square{
	color: #FFF;
}
.auth-form__socials--facebook{
	background-color: #3A5A98;
}
.auth-form__socials--google{
	background-color: #FAFAFA;
}
.auth-form__social-icon.fa-facebook-square,
.auth-form__social-icon.fa-google{
	margin-right: 32px;
	margin-left: 8px;
	font-size: 18px;
}
.auth-form__socails-text-facebook{
	margin-right: 32px;
	color: #DDD;
	font-size: 0.8rem;
}
.auth-form__socails-text-google{
	margin-right: 32px;
	color: #999;
	font-size: 0.8rem;
}
.auth-form__help{
	display: flex;
	justify-content: flex-end;
}
.auth-form__help-link{
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700; 
	color: #939393;
}
.auth-form__help-link-separate{
	height: 20px;
	width: 2px;
	background-color: #e7e6e6;
	margin: 0 16px 4px 16px;
} */
/* .auth-help-forgot{
	color: var(--primary-color);
} */
.header-with-search{
	height: var(--header-with-search);
	display: flex;
	align-items: center;
}
.header-logo{
	width: 200px;
	margin: 0 0 0 80px;
}
.header-logo-img{
	width: 150px;
	fill: #FFf;
}
.header-logo-link{
	display: block;
}
.header-logo-img.header__menu-category-header-icon{
	fill: var(--primary-color);
	width: 133px;

}
/*menu*/
.header__menu{
	margin-left: 50px;
	display: none;
}
.header__menu--input{
	display: none;
}
.header__menu-icon{
	font-size: 175%;
	color: #FFF;
}
.header__container{
	display: flex;
}
.header__menu-category{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 40%;
	background-color: #FFF;
	z-index: 11;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: translateX(-100%);
}
#header__menu--checkbox:checked ~ .overlay{
	display: block;
}
#header__menu--checkbox:checked ~ .header__menu-category{
	transform: translateX(0);
	opacity: 1;
}
.header__menu-category-header{
	display: flex;
	margin: 1rem 1.5rem;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
.dot {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header__menu-category-header-container-logo{
	cursor: pointer;
}
/* .header__menu-category-header-close{
	margin-top: 24px;
} */
.header__menu-category-header-close-icon{
	height: 16px;
	width: 16px;	
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.header__menu-category-header-close-icon:hover {
	color: white;
}
.header__menu-category-list{
	list-style: none; 
	padding: 0;
}
/* .header__menu-category-item{
	height: 56px;
} */
.header__menu-category-item:hover{
	background-color: #EEE;
}
.header__menu-category-link{
	text-decoration: none;
	color: #333;
	display: block;
	height: 100%;
	font-size: 1.25rem;
	padding: 1.5rem;
}
.header-search{
	height: 40px;
	background-color: #FFF;
	/* flex-grow: 1; */
	flex: 1;
	border-radius: 2px;
	display: flex;
}
.header-search-contaier{
	flex: 1;
	/* flex-grow: 1; */
	position: relative;
}
.header-search-contaier::before{
	content: "";
    position: absolute;
    top: 20px;
    left: -3px;
    height: 40px;
    width: 650px;
    background-color: transparent;
}
.header-search-input{
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	font-size: 1rem;
	color: #333;
	padding: 0 16px;
	border-radius: 3px;
}
.header-search-input:focus ~ .header-search-input-list{
	display: block;
	z-index: 1;
}
/* .header-search-input-history{
	position: absolute;
	top: 50px;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: blue;
} */
.header-search-input-list{
	list-style: none;
    position: absolute;
	top: 2rem;
	left: 0;
	padding-left: 0;
	padding-bottom: 0.5rem;
    background-color: #FFF;
	display: none;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	width: 100%;
}
.header-search-input-heading{
	color: #333;
	margin: 1rem 1rem 0.5rem 1rem;
}

.header-search-input-item{
	color: #8d8888;
	font-size: 0.8rem;
	text-align: justify;
	background-color: #FFF;
}
.header-search-input-item:hover,
.header-search-input-item:hover .header-search-input-link{
	background-color: #EEE;
}
.header-search-input-link{
	list-style: none;
	text-decoration: none;
	padding: 8px 16px;
	color: #333;
	background-color: #FFF;
	width: 100%;
	display: block;
}
.header__search-mobile{
	width: unset;
	display: none;
	margin-left: 36px;
}
.header__search-mobile-input{
	display: none;
}
#header__search-mobile-checkbox:checked ~ .header-search{
	top: calc( var(--header-height) - var(--navbar-height) );
	opacity: 1;
	display: flex;

}
.header__search-icon{
	font-size: 175%;
	color: #FFF;
}
.header__cart{
	width: 184px;
	text-align: center;
	position: relative;
}
.header__cart-container:hover .header__cart-list{
	display: block;
}
.header__cart-container{
	display: inline-block;
	cursor: pointer;
}
.header__cart-icon{
	color: #FFF;
	font-size: 2rem;
	margin: auto;
}
.header__cart-list{
	z-index: 1;
	position: absolute;
	top: calc(100% + 16px);
	right: 3rem;
	background-color: #FFF;
	width: 23.7rem;
	border-radius: 2px;
	Box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	display: none; 
	cursor: default;
	max-height: 55vh;
}
.header__cart-no-cart-img{
	padding: 24px 0;
	width: 50%;
	/*if not product is add display: none*/
	display: none;
}
.header__cart-list--no-cart-msg{
	display: block;
	/*if not product is add*/
	display: none;
	padding-bottom: 24px;
}
.header__cart-list::before{ 
	content: "";
	position: absolute;
	border-width: 20px 26px;
	border-style: solid;
	border-color: transparent transparent #FFF transparent;
	top: -32px;
	right: 4%;
	cursor: pointer;
}
.header__cart-list::after{
	content: "";
	position: absolute;
	height: 40px;
	width: 400px;
	background-color: transparent;
	top: -24px;
	right: 0;
}
.header__cart-notice{
    color: var(--primary-color);
    padding: 1px 8px;
    background-color: #FFF;
    position: absolute;
    top: -8px;
    left: 96px;
    line-height: 1rem;	
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}
.header__cart-list--no-cart .header__cart-list--no-cart-msg,
.header__cart-list--no-cart .header__cart-no-cart-img{
	display: block;
	margin: auto;
}
.header__cart-heading{
	text-align: center;
	color: black;
	font-weight: 800;
	font-size: 1rem;
}
.header__cart-list-item{
	text-decoration: none;
	list-style: none;
	padding: 0;
	max-height: 35vh;
	overflow-y: auto;
}
.header__cart-item{
	display: flex;
	width: 90%;
	margin: 0 0 1rem 1rem;
}
.header__cart-item-container-img{
	width: 45px;
	image-rendering: pixelated;
	height: 45px;
}
.header__cart-item-img{
	width: 100%;
	height: 100%;
}
.header__cart-item-container-text {
	margin-left: 1rem;
	width: 100%;
}
.header__cart-item-header{
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
}
.header__cart-item-info{
	font-size: 1rem;
	line-height: 1.5rem;
	overflow: hidden;
	max-height: 3rem;
	max-width: 169px;
    display: flex;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price{
	font-size: 1rem;
	color: var(--primary-color);
}
.header__cart-item-body{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__cart-item-description{
	color: #AAA;
	font-size: 0.8rem;
}
.header__cart-item-type{
	color: #AAA;
	font-size: 0.9rem;
}
.header__cart-item-remove{
	font-weight: 700;
	cursor: pointer;
}
.header__cart-item-remove:hover{
	font-weight: 700;
	cursor: pointer;
	color:red;
}
.header__cart-container-btn{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
}
.header__cart-btn-footer{
	font-size: 1rem;
	padding: 1.2rem;
}
.header__cart-item:hover{
	background-color: #EEE;
}
.header-search{
	display: flex;
}
.header-search-select{
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 0 1rem;
	border-left: 1px solid #CCC;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.header-search-select:hover .header-search-select-list{
	display: block;
	transform-origin: 90% top;
}
.header-search-select-list{
	z-index: 1;
	list-style: none;
	position: absolute;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	border: none;
	top: 80%;
	text-align: center;
	width: 100%;
	padding-left: 0;
	background-color: #FFF;
	border-radius: 2px;
	display: none;
	animation: scale ease 0.1s;
}
.header-search-select-list::after{
	content: "";
    height: 30px;
    width: 200px;
    background-color: transparent;
    position: absolute;
    top: -14px;
    left: 0px;
}
.header-search-select-item{
	padding: 1rem 0;
	text-align: center;
}
.yellow {
	background-color: #EE4D2D;
	color: white;
}
.header-search-select-item:hover{
	background-color: #EEE;
	cursor: pointer;
}
.header-search-icon{
	margin-left: 1.5rem;
}
.header-search-icon-down{
	font-size: 1.5rem;
	color: #333;
	margin-left: 16px;
}
.header-search-container-icon-search{
    border-radius: 3px;
    background-color: var(--primary-color);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0.3rem;
    border: none;
    outline: none;
}
.header-search-icon-search{
	color: #FFF;
	font-weight: 400;
	display: flex;
	padding: 0.5rem 3rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.header-search-container-icon-search:hover{
	background-color: red;
	cursor: pointer;	
}
/*app container*/
.app__container{
	background-color: #F5F5F5;
}
.app__content{
	padding: 1rem 0 0 0;
}
.category{
	background-color: #FFF;
	border-radius: 2px;
	text-align: center;
}
.category__heading{
	color: #333;
	font-size: 0.8rem;
	text-transform: uppercase;
	margin: 0 1rem;
	padding: 0.8rem 0;
	font-weight: 800;
	margin-top: 0;
	border-bottom: 1px solid #E1E1E1;
}
.category-list{
	list-style: none;
	margin-left: 1rem;
	padding-left: 0;
	padding-bottom: 0.25rem;
	width: 85%;
}
.category-item{
	cursor: pointer;
	text-align: justify;
	/* position: relative; */
}
.category-item:first-child::after{
	display: none;
}
.category-item::after{
	content: "";
	position: absolute;
	top: 0px;
	right: 16px;
	left: 16px;
	border-top: 1px solid #E1E1E1;
}
.category-item--active .category-item__link{
	/* color: red; */
}
.category-item__link{
	text-decoration: none;
	color: #333;
	/* position: absolute; */
	/* right: 0; */
	padding-bottom: 1rem;
	font-size: 0.8rem;
	display: block;	
	transition: all .3s ease-in-out;
	/* margin-right: 10px; */
}
.category-item__link:hover{
	color: white;
	background-color: var(--primary-color);
	
}
/*home sort and filter*/
.home-filter{
	display: flex;
	background-color: rgba(0, 0, 0, 0.05);
	align-items: center;
	justify-content: center;
	padding: 1rem 1.5rem;
	border-radius: 2px;
}
.home-filter__label{
	color: #333;
	font-size: 1rem;
	margin-right: 1.5rem;
}
.home-filter__btn{
	min-width: 90px;
	margin-right: 1.5rem;
	font-size: 1rem;
}
.home-filter__btn:hover{
	min-width: 90px;
	background-color: black;
	color: white;
}
.home-filter__page{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1.5rem;
}
.home-filter__page-num{
	display: flex;
	align-items: center;
}
/* .header-label-icon-down{
	font-size: 1.5rem;
	color: #333;
} */
.home-filter__page{
	padding-right: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.home-filter__page-num{
	font-size: 1rem;
	color: #333;
	margin-right: 1.5rem;
}
.home-filter__page-current-inc{
	color: var(--primary-color);
}
.home-filter__page-control{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	box-shadow: 0px 5px 5px #EEE;
}
.home-filter__page-btn{
	background-color: #FFF;
	display: flex;
	width: 3vw;
	height: 6vh;
	margin-right: 1.5rem;
	text-decoration: none;
}
.home-filter__page-btn:hover{
	color: #FFF;
	background-color: black;
}
.home-filter__page-btn:first-child{
	border-right: 1px solid #EEE;
}
.home-filter__page-btn-disible{
	background-color: #F9F9F9;
	cursor: default;
}
.home-filter__page-btn-disible .header-label-icon{
	/* color: #CCC; */
}
.header-label-icon{
	margin: auto;
	font-size: 0.8rem;
}
/* ||||||||||||||||||||||||||| */
.home-product-item{
	display: block;
	text-decoration: none;
	background-color: #FFF;
	margin-top: 10px;
	position: relative;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); 
	transition: transform linear 0.05s;
	will-change: transform;
}

.home-product-item:hover{
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); 
	transform: translateY(-1px);
}

.home-product-item__img{
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.home-product-item__name{
	font-size: 0.9rem;
	font-weight: 500;
	color: #333;
	margin: 10px 10px 6px 10px;
	line-height: 1rem;
	height: 2rem;
	/*display: block;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	overflow: hidden;
	display: -webkit-box;
	
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;

}

.home-product-item__price{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;	
}

.home-product-item__price-old{
	font-size: 0.9rem;
	color: #666;
	text-decoration: line-through;
	margin-left: 10px;
}

.home-product-item__price-current{
	font-size: 1rem;
	margin-left: 10px;
	color: var(--primary-color);
}

.home-product-action{

	display: flex;
	justify-content: space-between;
	margin: 6px 10px 0px 10px;
}

.home-product-item__like{
	font-size: 0.8rem;
}

.home-product-item__rating .home-product-item__start--gold{
	color: yellow;
}

.home-product-item-sold{
	font-size: 0.9rem;
	color: #333;
}

.home-product-item__like-fill{
	display: none;
	color: red;
}

.home-product-item__like--liked .home-product-item__like-fill{
	display: block;
}

.home-product-item__like--liked .home-product-item__like-empty{
	display: none;
}

.home-product-item__rating{
	color: #D5D5D5	;
	transform: scale(0.5);
	transform-origin: right;
}

.home-product-item__origin{
	display: flex;
	margin: 3px 10px 0 10px;
	color: #595959;
	font-size: 0.9rem;
	font-weight: 300;
	padding-bottom: 8px;

}

.home-product-item__brand{

}

.home-product-item__origin-name{
	margin-left: auto;
}

.home-product-item__favourite{
	position: absolute;
	top: 10px;
	left: -4px;
	color: var(--primary-color);
	background-color: currentColor;
	font-size: 0.8rem;
	padding: 0px 3px;
	line-height: 1rem;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
}

.home-product-item__favourite-icon{
	font-size: 0.6rem;
	font-weight: 300;
	color: #FFF;
}


.home-product-item__favourite span{
	color: #FFF;
}

.home-product-item__favourite::before{
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	border-top: 3px solid currentColor;
	border-left: 3px solid transparent;
	filter: brightness(40%);
}


.home-product-item__sale-off{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(255,211,59, 0.9);
	width: 40px;
	height: 36px;
	text-align: center;
	border-top-right-radius: 2px;
}

.home-product-item__sale-off::before{
	display: flex;
	content: "";
	position: absolute;
	border-width: 0px 20px 6px 20px;
	border-color: red rgba(255,211,59, 0.9) transparent rgba(255,211,59, 0.9);
	border-style: solid;
	margin: auto;
	bottom: -6px;
	left: 0;
}

.home-product-item__sale-off-percent{
	font-weight: 700;
	color: #EE4D2D;
	font-size: 0.9rem;

}

.home-product-item__sale-off-label{
	font-weight: 600;
	color: #FFF;
	font-size: 0.8rem;
	position: absolute;
	bottom: 3px;
	left: 3.5px;
}

.home-product__pagination{
	margin: 48px 0px 32px 0px;
}

/*footer*/

.footer{
	background-color: #FFF;
	padding-top: 16px;
	color: #666;
}

/*.grid.wide.footer{
	height: 175px;
}*/

.footer__heading{
	font-size: 1rem;
}

.footer__list{
	list-style: none;
	padding: 0;
}

.footer__item{	

}

.footer__link{
	color: #737373;
	text-decoration: none;
	font-size: 0.8rem;
	display: flex;
	padding: 4px;
}

.footer__item:hover .footer__link{
	color: var(--primary-color);
}

.footer__item:hover .footer__link .footer-icon{
	color: var(--primary-color);
}

.footer-icon{
	color: #333;
	font-size: 1rem;
	padding-right: 4px;
	margin-top: -1px;
}

.footer__download{
	display: flex;
}

.footer__download-qr{
	width: 80px;
	height: 80px;
	border: 1px solid #EEE;

}

.footer__download-apps{
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.footer__download-app-img{
	height: 16px;
	margin: 10px 0 10px 12px;
}


.footer__bottom{
	background-color: #F5F5F5;
}

.footer__bottom-list{
	display: flex;
	list-style: none;
	padding: 48px 0;
	margin: auto;
	font-size: 0.9rem;

}

.footer__bottom-item{
	display: inline-block;
	padding: 0px 32px;
}

.footer__bottom-link{
	text-decoration: none;
	color: #999;
	font-weight: 300;
}

.footer__bottom--body{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.footer__bottom-company{
	margin: 0;
	font-weight: 700;
	color: #555;
	font-size: 1.1rem;
}

.footer__bottom-address{
	margin: 0;
	padding: 12px 0;	
}

.footer__bottom-info{
	margin: 0;
	padding-bottom: 58px;
	font-size: 0.7rem;
}

.footer__bottom-info-icon{
	font-size: 0.5rem;
}

.footer__bottom-info-link{
	text-decoration: none;
	color: #0000ee;
}

.overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}

.home-filter-tablet-mobile{
	display: none;
}

/*sort*/

.header__sort{
	margin-top: calc( var(--header-height) - var(--navbar-height) );		
	display: none;
	z-index: 9;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.header__sort-list{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0 0;
	height: var(--sort-height);
	width: 100%;
	background-color: #FFF;
}

.header__sort-item{
	display: flex;
	border: 1px solid #EEE;
	width: 100px;
	flex-grow: 1;
	text-align: center;
}

.header__sort-item.header__sort-item--active{
	border-bottom: 2px solid var(--primary-color);
}

.header__sort-item:first-child{
	border-left: none;
}

.header__sort-item:last-child{
	border-right: none;
}

.header__sort-link.header__sort-link--active{
	color: var(--primary-color);
}

.header__sort-link{
	display: flex;
	text-decoration: none;
	color: #333;
	margin: auto;
	/*width: 100%;*/
	height: 100%;
	line-height: var(--sort-height);
}

.header__sort-container-icon{
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-left: 4px;
}

.header__sort-icon{
	font-size: 50%;
}

.header__category--mobile{
	margin-top: 105px;
	display: none;
}




.header__category-list{
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 29%;
	margin-bottom: 0;
	overflow-x: auto;	
}

.header__category-list::-webkit-scrollbar{
	display: none;
}

.header__category-item{
	flex-shrink: 0;
	margin: 0 8px;
	border-radius: 4px;
	height: 40px;
	text-align: center;
    width: 110px;
    padding: 0 8px;
}

.header__category-item:nth-of-type(3n+1){
	background-color: #87AFD8; 
}

.header__category-item:nth-of-type(3n+2){
	background-color: #76C9BD; 
}

.header__category-item:nth-of-type(3n+3){
	background-color: #88CF81; 
}

.header__category-link{
	text-decoration: none;
	color: #FFF;
	font-weight: 300;
	/*display: block;*/
	text-align: center;
	height: 40px;
	width: 110px;
	font-size: 85%;
	line-height: 20px;
}

.col.l-2-4.m-8.c-12{
	padding-bottom: 24px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -4px;
    margin-right: -4px; */
}
.col {
    /* padding-left: 4px;
    padding-right: 4px;  */
}
.row.no-gutters .col {
    /* padding-left: 0;
    padding-right: 0; */
}
.select-input{
	position: relative;
	padding: 0.5rem 1rem;
	min-width: 10rem;
	border-radius: 2px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
	transition: all .3s ease-in-out;
}
.select-input__lable{
	font-size: 1rem;
}
/*selection*/
.select-lable-list{
	position: absolute;
	left: 0;
	list-style: none;
	top: 80%;
	padding-left: 0;
	padding-bottom: 1rem;
	text-align: justify;
	background-color: #FFF;
	display: none;
	z-index: 1;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	width: 100%;
}
.select-lable-item{
	padding: 1rem 1rem 0 1rem;
	color: #333;
	transition: all .3s ease-in-out;
}
.select-lable-link{
	text-decoration: none;
	font-size: 1rem;
	color: #333;
	width: 100%;
}
.select-lable-item:hover{
	background-color: var(--primary-color);
}
.select-lable-list::before{
	content: "";
	height: 10px;
	width: 100%;
	background-color: transparent;
	position: absolute;
	top: -4px;
	left: 0;
}
.select-input:hover .select-lable-list{
	display: block;
}
/*pagination*/
.pagination{
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0;
}
.pagination-item{
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 12px;
}
.pagination-item__link{
	text-decoration: none;
	display: block;
	color: #959595;
	height: 30px;
	min-width: 40px;
	text-align: center;
	font-size: 1.1rem;
	line-height: 30px;
	border-radius: 2px;
}
.pagination-item-active .pagination-item__link{
	color: #FFF;
	background-color: var(--primary-color);
}


















































































































































































